ion-input{
  border-color: transparent;
  box-shadow: transparent;
  border-radius: 10px;
  color: var(--app-color, black);


}

ion-input::placeholder {
  color: var(--ion-color-primary, gray);
  padding-left: 5px;
}
