#editBtn{
  color: var(--app-icons-color);
  --border-color:  var(--app-icons-color);
}

ion-grid{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

ion-avatar{
  width:auto;
  height: 100%;
  max-height: 100%;
}
ion-img{
  width:auto;
  height: 100%;
  max-height: 100%;
}
