



  #sendBtn{
    --box-shadow: none;

  }

  ion-input{
    border-radius: 10px;
    --background : var(--ion-background-color);
    --color: #ec0662;
    --placeholder-color: #ec0662;
    --placeholder-opacity: 1;
  }
