
    <ion-grid id="mainGrid" >
    <ion-row>
      <ion-col size="3">
        <ion-avatar [routerLink]="['/home', 'userProfile', post.user._id]">
          <ion-img  [src]=" post.user.profileImage !=='' ? serverUrl+ '/' + post.user.profileImage : '../../../assets/imgs/nopic.png' "  ></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="9">
        <ion-grid no-padding>
          <ion-row>
            <ion-col>
              <ion-text id="name">{{post.user.name }} </ion-text>
              <ion-text id="username">@{{post.user.username}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-item lines="none" [routerLink]="['/home/tweet',post.user._id, post._id]">
              <ion-textarea disabled no-padding rows="6" [value]="post.body" ></ion-textarea>
            </ion-item>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
      <ion-row *ngIf="post.image !== ''" id="containerImg">
        <ion-col justify-content-center>
          <ion-img [src]="serverUrl + '/' + post.image"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row no-padding>
        <ion-col [size]="owner ? 2 : 3" offset="2" no-padding>
          <ion-button fill="clear" (click)="newComment()">
            <ion-icon name="text" size="small"></ion-icon>
            <ion-label>{{commentsCount}}</ion-label>
          </ion-button>
        </ion-col>
        <ion-col [size]="owner ? 2 : 3" no-padding>
          <ion-button fill="clear" (click)="likeHandler()">
            <ion-icon [name]=" liked ? 'heart' : 'heart-empty'" size="small"></ion-icon>
            <ion-label>{{post.favoritesCount}}</ion-label>
          </ion-button>
        </ion-col>
        <ion-col [size]="owner ? 2 : 3" no-padding>
          <ion-button fill="clear" (click)="sharePostHandler()">
            <ion-icon name="share" size="small"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="2" *ngIf="owner" no-padding>
          <ion-button fill="clear" (click)="deletePostHandler()">
            <ion-icon name="trash" size="small"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row no-padding>
        <ion-col no-padding>
          <div class="dateContainer">
            <ion-label  class="dateLabel">{{createdDate | customDate}}</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

