<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="padding-right: 0; margin-right: 0">
      <ion-back-button style="padding-right: 0; margin-right: 0" [defaultHref]="['/home/tabs/chat']"></ion-back-button>
    </ion-buttons>
    <ion-title style="padding-left: 0">
      <ion-grid no-padding>
        <ion-row>
          <ion-col>
            <ion-searchbar [(ngModel)]="inputValue"
                           (ionChange)="searchHandler()"
                           type="search"
                           placeholder="Find an user">
            </ion-searchbar>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
    <ion-text >

    </ion-text>




  </ion-toolbar>
</ion-header>

<ion-content >
  <div style="height: 100%; width: 100%" *ngIf="userArray.length>0 && myUser">
    <div *ngFor="let user of userArray">
      <app-chat-search-user *ngIf="user._id !== myUser.id" [user]="user"></app-chat-search-user>
    </div>
  </div>
  <ion-text *ngIf="userArray.length<=0 && alreadySearched" id="noResults">No match found!</ion-text>

</ion-content>
