<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" >
    <ion-grid>
      <ion-row >
        <ion-col size-sm="3" offset-sm="3" >
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-sm="3" offset-sm="3" >
          <ion-item>
            <ion-label position="floating">Lastname</ion-label>
            <ion-input formControlName="lastname"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input formControlName="username"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input
                    type="email"
                    formControlName="email"
            ></ion-input>
          </ion-item>
          <ion-item *ngIf="!form.get('email').valid && form.get('email').touched" lines="none">
            <ion-label>
              Please enter a valid Email!
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input
                    formControlName="password"
                    type="password"
            ></ion-input>
          </ion-item>
          <ion-item *ngIf="!form.get('password').valid && form.get('password').touched" lines="none">
            <ion-label>
              Should at least be 4 characters long.
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input
                  formControlName="passwordConfirm"
                  type="password"
          ></ion-input>
          </ion-item>
          <ion-item *ngIf="!pwdMatch && form.get('password').touched && form.get('passwordConfirm')" lines="none">
            <ion-label color="danger">
              Passwords doesn't match.
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button
                  type="button"
                  color="primary"
                  fill="clear"
                  expand="block"
                  (click)="onSwitchToLogin()">
            Switch to Login
          </ion-button>
          <ion-button
                  type="submit"
                  color="primary"
                  (click)="onRegister()"
                  expand="block"
                  [disabled]="!form.valid">
            Register
          </ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>


</ion-content>
