<ion-grid>
  <ion-row>
    <ion-col size="3" *ngIf="isFromMailedUser">
      <ion-avatar [routerLink]="['/home', 'userProfile', mailedUser.user._id]">
        <ion-img  [src]=" mailedUser.user.profileImage !=='' ? serverUrl+ '/' + mailedUser.user.profileImage : '../../../assets/imgs/nopic.png' "  ></ion-img>
      </ion-avatar>
    </ion-col>
    <ion-col size="9">
      <div [className]="isFromMailedUser ? 'medium' : 'primary'" >
        <ion-text>
          {{message.message}}
        </ion-text>
      </div>
    </ion-col>
  </ion-row>
  <ion-row no-padding>
    <ion-col offset="6" no-padding>
      <ion-text color="medium" style="font-size: small">
        {{sentAt | customDate}}
      </ion-text>
    </ion-col>
  </ion-row>
</ion-grid>
