<ion-grid no-padding *ngIf="user">
  <ion-row style="height: 40%">
    <ion-col offset="1" size="5" >
      <ion-avatar >
        <ion-img  [src]=" user.profileImage !=='' ? serverUrl+ '/' + user.profileImage : '../../../assets/imgs/nopic.png' "  ></ion-img>
      </ion-avatar >
    </ion-col>
    <ion-col size="6" justify-content-end *ngIf="!owner">
      <ion-button color="primary" fill="outline" size="small" (click)="subscriptionHandler()">
        {{following ? 'unfollow': 'follow'}}
      </ion-button>
    </ion-col>
  </ion-row >
  <ion-row style="height: 20%"  >
    <ion-col offset="1" style="padding-top: 1.5vh">
      <ion-label> {{user.name}} </ion-label>
    </ion-col>
  </ion-row>
  <ion-row style="height: 20%" >
    <ion-col offset="1" >
      <ion-label> @{{user.username}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row style="height: 20%; border-bottom-color: slategray; border-bottom-style: solid; border-bottom-width: thin">
    <ion-col offset="1" size="5">
      <ion-label> {{userData.followingCount}} Following</ion-label>
    </ion-col>
    <ion-col size="5">
      <ion-label>{{userData.followerCount}} Followers</ion-label>
    </ion-col>
  </ion-row>


</ion-grid>
